<div class="input-group ms-2">
    <input 
        type="search" 
        id="campaignSearchInput"
        class="form-control searchBar search" 
        placeholder="ค้นหา..." 
        aria-label="Search" 
        aria-describedby="button-search"
    >
    <button 
        class="btn btn-outline-secondary" 
        type="button" 
        id="campaignSearchButton"
        style="width: 40px;"
    >
        <i class="bi bi-search"></i>
    </button>
</div>

<!-- data-target="searchInputCards" -->