.card-search {
  background-color: rgb(218, 216, 216);
  padding: 10px;
  margin: 5px;
  border: 3px solid rgb(60, 60, 60);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  display: flex;
  height: 40px;
}

.search-bar button {
  margin-left: 17px;
  width: 100px;
}

.btn-sort {
  background-color: rgb(231, 231, 231) !important;
  border: 2px solid rgb(146, 146, 146);
}